pyarrow
joblib
geopandas
shapely
duckdb
PyYAML
geopy
requests
OSMPythonTools
overpy
geopandas
numpy
tqdm
xgboost
scikit-learn
owslib
geoarrow-pyarrow
pyarrow_ops
openpyxl
osmnx
pytz
pdfplumber
openmeteo_requests
requests_cache
retry_requests